{{ define "main" }}
{{ $photo := resources.Get "img/profile_about.jpeg" }}

<article>
  <header class="mb-6 max-w-prose">
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
      {{ .Title }}
    </h1>
    {{ if not .Lastmod.IsZero }}
    <p class="text-sm text-neutral-500 dark:text-neutral-400 mt-1">
      {{ if eq .Site.Language.Lang "pt-br" }}Atualizado:{{ else }}Updated:{{ end }}
      {{ .Lastmod.Format "2 January 2006" }}
    </p>
    {{ end }}
  </header>

  <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
    {{ if in .TableOfContents "<ul" }}
    <div class="order-first lg:ms-auto px-0 lg:order-last lg:ps-8 lg:max-w-2xs">
      <div class="toc ps-5 print:hidden lg:sticky lg:top-[140px]">
        {{ partial "toc.html" . }}
      </div>
    </div>
    {{ end }}
    <div class="min-w-0 min-h-0 max-w-fit">
      {{ if $photo }}
      {{ $resized := $photo.Resize "800x q90" }}
      <div class="not-prose mt-4 lg:mt-0 mb-8 overflow-hidden rounded-md shadow-md max-w-prose">
        <img
          src="{{ $resized.RelPermalink }}"
          alt="{{ .Site.Params.Author.name }}"
          class="w-full object-cover object-center"
          style="max-height: 170px;"
        >
      </div>
      {{ end }}
      <div class="article-content max-w-prose mb-20">
        {{ .Content }}
      </div>
    </div>
  </section>
</article>
{{ end }}
